<table class="table">
  <% comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to member_path(comment.member) do %>
          <%= image_tag comment.member.get_profile_image, size: "30x30", class: "mr-3 member-icon" %>
        <% end %>
      </td>
      <td style="word-wrap: break-word;"><%= comment.comment %></td>
      <td style="width: 70px;">
        <% if comment.member == current_member %>
          <%= link_to '削除', photo_photo_comment_path(photo, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class: "btn btn-outline-danger btn-sm", remote: true %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>