<% if member.email != "guest@example.com" %>
  <td>
    <%= link_to member_followings_path(member), class: "text-dark" do %>
      フォロー:<%= member.followings.count %>
    <% end %>
  </td>
  <td>
    <%= link_to member_followers_path(member), class: "text-dark" do %>
      フォロワー:<%= member.followers.count %>
    <% end %>
  </td>
<% end %>