<div class='container'>
  <h2>Edit Photo</h2>
  <div class='row'>
    <%= render 'form', photo: @photo, tag_list: @tag_list, cameras: @cameras %>
  </div>
  <div class="mt-3 text-center">
    <%= link_to '< Photo', photo_path(@photo), class: "mr-5 btn btn-secondary" %>
    <%= link_to 'All Photos >', photos_path, class: "btn btn-secondary" %>
  </div>
</div>

<%= render 'layouts/previewimage' %>