<div class="container">
  <div class="mb-4 text-center">
    <h3>All Photo</h3>
  </div>
  <div class="row mx-5 mb-3 center-block">
    <% @photos.each do |photo| %>
      <div class="col-3 mb-3 text-center">
        <%= link_to photo_path(photo) do %>
        <%=image_tag photo.image, size: "150x150", style: "object-fit: cover;" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>