<h2>gmap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="<%= @photo.address %>">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">

<div id='map' style="height: 70vh;">
</div>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/
let map;
let geocoder;

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  const photoLatLng = {lat: <%= @photo.latitude %>, lng: <%= @photo.longitude %>};
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: photoLatLng
  });
  const marker = new google.maps.Marker({
    position: photoLatLng,
    map: map
  });




  // let pos = new google.maps.LatLng(
  // <%#= @photo.latitude %>, //latitude
  // <%#= @photo.longitude %>  //longitude
  // );

  // map.setCenter(pos)
  // let marker = new google.maps.Marker({
  //   map: map,
  //   position: pos
  // });

}


function codeAddress(){
  geocoder = new google.maps.Geocoder()

  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['YOUR_API_KEY'] %>&callback=initMap" async defer></script>
