<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag 'image6.jpg', class: "rounded", style: "width: 60vw;height: 85vh; object-fit: cover;" %>
    </div>
    <div class="col-6 mt-3 pt-3 rounded" style="height: 80vh; background-color: rgba(255,255,255,0.8);">
      <h1 class="mb-4 font-weight-bold display-3">
        あなただけの</br>
        １枚を</br>
        ここから
      </h1>
      <p>
        Photolio『フォトリオ』へようこそ。</br>
        ここには世界中からたくさんの写真が集まります。</br>
        自分が撮影した写真を展示したり、</br>
        他のメンバーの写真を見に行ったり...</br>
        あなたのお気に入りの1枚も展示してみませんか？</br>
        (登録をしなくても一部機能は利用できます)
      </p>
    </div>
  </div>
  <%= render 'top-link' %>
</div>