<div class="container">
  <div class="row">
    <div class="col-7">
      <%= image_tag 'image6.jpeg', style: 'width: 100%; object-fit: cover;' %>
    </div>
    <div class="col-5 text-center">
      <h1>About</h1>
      <p>
        Photolio~自分写真館~へようこそ</br>
        ここには世界中からたくさんの写真が集まります</br>
        あなたのお気に入りの1枚も展示してみませんか？
      </p>
    </div>
  </div>
  <%= render 'top-link' %>
</div>