<div class="container">
  <div class="row">
    <div class="col-7 about-image">
      <%= image_tag 'image6.jpg', style: 'width: 100%; object-fit: cover;' %>
    </div>
    <div class="col-5 text-center">
      <h1>About</h1>
      <p>
        Photolio~フォトリオ~へようこそ</br>
        ここには世界中からたくさんの写真が集まります</br>
        自分が撮影した写真を展示したり、</br>
        他のメンバーの写真を見に行ったり、、、</br>
        あなたのお気に入りの1枚も展示してみませんか？</br>
        (登録をしなくても一部機能は利用できます)
      </p>
    </div>
  </div>
  <%= render 'top-link' %>
</div>