<div class="container" style="height: 80vh;">
  <div class="row">
    
    <div class="col-4">
      <%= render 'public/members/info', member: @member %>
    </div>

    <div class="col-8">

      <h3 class="m-3">投稿一覧</h3>

      <div class="row d-flex flex-wrap">
        <% @member.photos.each do |photo| %>
          <%= link_to photo_path(photo) do %>
            <div class="p-3">
              <%= image_tag photo.image, size: "200x200", style: "object-fit: cover;" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div style="position: fixed; bottom: 10%; right: 20%;">
        <%= link_to '写真展へ>', photos_path %>
      </div>
    </div>
  </div>
</div>