@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



.carousel-image{
  position: relative;
}

.top-logo{
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-link{
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

.member-icon{
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px black;
}

body{
  background-color: #eaffff;
}

.photo-image:hover{
  opacity: 0.7;
}